<h1> WorkOuts! </h1>


<% @events.each do |event| %>
  <%= render partial: "event", locals:{event: event} %>
  <p></p><br>

<% end %>
<%= link_to("Add Workout", new_event_path) %>
<%= link_to("My Workouts", my_events_path) %>
