/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

body{
  padding: 0;
  background: rgb(185, 254, 156);
}

.navbar-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: rgb(197, 229, 181);
  padding-right: 2em;
  flex: 1 100%;
}

.heading{
  color: rgb(66, 107, 47);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: center;
  align-content:stretch;
  justify-content: center;

}

#banner{

}
#tag_line{
  align-self: center;
  padding-left: 2em;
}
.event_buttons{
  color:red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: center;
  justify-content: space-between;
  align-content:stretch;

}

.new_event_button{
/*  flex-grow:5;*/
  text-color: red;

}

#add_workout{
  color:red;
}

#my_workout{
 /* flex-grow:5;*/

}
