/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("white_wall.png")!important;
  font-family: 'Raleway', sans-serif;
  margin:10px;
}

.nav_box{
  display:flex;
}
.navbar-text{
margin-left: 60%;
color: rgb(188,193,111);
font-size: 1em;
font-weight: bolder;
flex: 1 100%;
line-height: 1!important;

}

.navbar-link{
color: rgb(146,196,208);
font-size: .85em;
margin: 5px;

}

.navbar-link:hover{
color:rgb(131,99,71);
}

alert{
color:rgb(131,99,71);
}

.banner{
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: center;
  align-content:stretch;
  justify-content: center;
  background-color: rgb(129,192,207);
}
#header {
background-color: rgb(129,192,207);
color: white;
font-size: 3.5em;
padding: 50px;
margin: 1px;
font-family: 'Oleo Script';

}
#tag_line{
  align-self: center;
  padding-left: 2em;
  font-family: 'Rock Salt';
}

#sign_up {
background-color: rgb(129,192,207);
color: white;
font-size: 2.5em;
padding: 50px;
margin: 50px;
border: solid 1px rgb(119,99,71);
}


#sign_up_box{
margin: 50px;
border: solid 1px rgb(119,99,71);
padding: 20px;
}

#sign_in{
background-color: rgb(129,192,207);
color: white;
font-size: 2.5em;
padding: 50px;
margin: 50px;
border: solid 1px rgb(119,99,71);
}

#sign_in_box{
margin: 50px;
border: solid 1px rgb(119,99,71);
padding: 20px;
}

#pass_forget{
background-color: rgb(129,192,207);
color: white;
font-size: 2.5em;
padding: 50px;
margin: 50px;
border: solid 1px rgb(119,99,71);
}

#pass_forget_box{
margin: 50px;
border: solid 1px rgb(119,99,71);
padding: 20px;
}

h2{
padding: 20px;
margin: 20px;
text-shadow: 2px 2px rgba(41, 128, 185,1.0);

}

.front_page{
background-color: rgb(188,193,111);
height: 8px;

}

.event_buttons{
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content: space-between;
flex_flow: row wrap;
margin: 5px;

}

.container{
display: flex;
flex-direction: row;

}

.splash{
order: 1;
font-size: 1` em;
line-height: 1.125;
color: rgb(119,99,71);
margin: 20px;
border-bottom: 1px solid rgb(255,217,124);
border-top: 1px solid rgb(255,217,124);
padding: 10px;
}

.wrapper{
order: 2;
font-size: 1.5em;
color: rgb(119,99,71);
margin-top: 25px;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 50px;
}

.pagination {
margin: 15px;
color: rgb(129,192,207);
text-decoration: none;
font-size: .75em;
font-weight: 400;
font-family: arial;
padding-left: 100px;
}

.pagination a{
color: rgb(129,192,207);
text-decoration: none;
}

.pagination a:hover{
color: rgb(177,181,71);
}

.event_buttons a{
color:rgb(212,176,145); 
}

.event_buttons a:hover{
color:rgb(129,192,207);
}

#event_border{
color: rgb(234,234,234);
border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#rsvp{
  font-size: 9px;
  margin: 0;
}

#map{
  font-size: 12px;
}
hr {
  border: 0;
  background-color: rgb(255,217,124);
  height: 1px;
}

.button {
color: white;
font-size: .55em;
width: 65px;
height: 30px;
border: none;
border-radius: 5px;
margin-top: 20px;
padding: 0;
background: #B1938B  ;
border: solid 1px rgb(119,99,71);
}

.button:hover {
background-color:rgb(146,196,208);
color:#B1938B  ;
}

.button_big{
color: white;
font-size: .55em;
width: 265px;
height: 30px;
border: none;
border-radius: 5px;
margin-top: 20px;
padding: 0;
background: #B1938B  ;
border: solid 1px rgb(119,99,71);
}

.button_big:hover{
background-color:rgb(146,196,208);
color:#B1938B  ;
}

a[href="/users/sign_in"]{
color:rgb(146,196,208);
}

a[href="/users/sign_in"]:hover{
color:rgb(131,99,71);

}

a[href="/users/sign_up"]{
color:rgb(146,196,208);
}

a[href="/users/sign_up"]:hover{
color:rgb(131,99,71);
}

a[href="/users/password/new"]{
color:rgb(146,196,208);
}

a[href="/users/password/new"]:hover{
color:rgb(131,99,71);
}

.alert{
color:rgb(255,217,124);
}

#event_description{
margin: 5px;
}

#event_event_name{
margin: 5px;
}
#event_address{
margin: 5px;
}
#event_time{
margin: 5px;
}
#event_date{
margin: 5px;
}
